* {
	box-sizing:border-box;
}
body {
	margin: 0;
	display: flex;
/*	flex-direction: */
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: lightyellow;
	font-style: 'Ubuntu';
	position: relative;
}
.small-container{
	padding: 12px;
	background-color: steelblue;
	color: white;
	border: black 2px solid;
	border-radius: 15px;
	margin: 10px;
	width: 250px;
	text-align: center;
	font-size: 2em;
}
#container {
	display: flex;
	flex-direction: row;
	margin: 25px;
}
.warning {
	margin: 50px auto;
	position: fixed;
	top: 0;
}
