
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
body {
	background-color:#320A28
}

#container{
	display: flex;
}
.panel {
	flex: 0.5;
	width: 5vw;
	cursor: pointer;
	height: 70vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 15vh 5px;
	border-radius: 50px;
}
.active {
	flex: 5;
}
