* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: lightyellow;
	height: 100vh;
}
h1 {
	text-align: center;
}
#container {
}
.faq-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: gray;
	color: white;
	width: 40%;
	margin: 0 auto 25px;
	border-radius: 25px;
	padding: 50px;
}
.faq-container div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
p {
	text-align: left;
	font-size: 2em;
}
button {
	transform: rotate(90deg);
	border-radius: 50%;
	width: 75px;
	height: 75px;
	border: none;
	background-color: white;
	cursor: pointer;
	font-size: 4em;
	margin-left: 50px;
}
div .non-active {
	display: none;			
}
