* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: steelblue;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
}
#container {
	background-color: #2a4e6c;
	padding: 20px 40px;
	border-radius: 5px;
	color: white;
}
h1 {
	text-align: center;
}
.submit {
	border: white 0px solid;
	border-radius: 5px;
	background-color: rgb(173, 216, 230);
	padding: 15px;
	width: 100%;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.3em;
}
.input {
	border: none;
	border-bottom: white 1px solid;
	background-color: transparent;
	display: block;
	padding: 0 15px;
}
span {
	display: inline;
	font-size: 18px;
	margin-left: -4px;
	position: relative;
	top: 15px;
	left: 4px;
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.elvated {
	transform: translateY(-25px);
}
