* {
	box-sizing: border-box;
}
body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
#image {
	width: 80vw;
	height: 80vh;
	max-width: 100%;
	max-height: 100%;
	position: relative;
}
.btn {
	border: none;
	background: none;
	cursor: pointer;
	font-size: 3em;
	letter-spacing: -4px;
	bottom: 50%;
}
#left {
	position: absolute;
	left: -5%;
}
#right {
	position: absolute;
	right: -5%;
}
